@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/public/Poppins-Light.ttf");
}

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  outline: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1775px);
  }
}

.horizontal-container {
  width: 100%;
  overflow-x: hidden;
}

.horizontal-scrolling-items {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation: infiniteScroll 10s infinite linear;
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
}
